# Katalog z plikami wynikowymi kompilacji
/obj/

# Katalog z plikami wyjściowymi
/output/

# Katalog z plikami pomocniczymi do sprawdzania obliczeń wartości i wektorów własnych
/ev/

# Plik wykonywalny + linker
graphdivider
gd

# Pliki edytora
.vscode/

# Zdjęcie grafu testowego
g0.png